@import "variables";

#game-of-life-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;

    .cell {
        width: @cellSize;
        height: @cellSize;
        border: @cellBorderSize solid @cellBorderColor;

        &.aliveCell {
            background-color: @aliveCellColor;
        }

        &.deadCell {
            background-color: @deadCellColor;
        }
    }

    form {
        margin-top: 15px;
    }
}