#game-of-life-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
}
#game-of-life-container .cell {
  width: 15px;
  height: 15px;
  border: 1px solid #586068;
}
#game-of-life-container .cell.aliveCell {
  background-color: #000000;
}
#game-of-life-container .cell.deadCell {
  background-color: #ffffff;
}
#game-of-life-container form {
  margin-top: 15px;
}
